@media screen and (max-width: 850px) {
  #slideShow {
    display: none;
  }
}
.cats {
  width: inherit;
}
.dis {
  pointer-events: none;
}
h3 {
  text-align: center;
}
audio {
	width: 250px;
	height: 12px;
}
